# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
pyvenv.cfg
.idea/
.vscode/

history*.json
example*.txt
example*.jpg

*.wav

temp/
/bin
/include
/lib64
/lib
/share

/.chromadb*
