click>=8.1.7
colorama>=0.4.6
coqui-tts>=0.24.1
chromadb>=0.6.0
numpy>=1.26.4
ollama>=0.2.1
pillow>=11.0.0
PyAudio>=0.2.14
pydantic-settings>=2.3.1
PyPDF2>=3.0.1
pygame>=2.5.2
pygments>=2.18.0
pynput>=1.7.7
torch>=2.3.1
torchaudio>=2.3.1
transformers>=4.40.2
tk>=0.1.0
sentence_transformers>=3.3.1
